main {
  .content {
    h2 {
      margin: 20px 0 10px 0;
      color: $blue;
      text-shadow: 1px 1px 1px #e2e2e2, 1px 2px 1px #e2e2e2;
    }

    .search-results {
      text-align: center;
    }
  }

  .more-button {
    margin: 20px 0 30px 0;
  }

  div.station-item {
    margin: 10px;
    width: calc(100% - 20px);
    background: $grey;
    border-radius: 0;

    img {
      display: block;
      margin: auto;
    }

    button {
      float: right;
      background: transparent;
      &:hover, &:focus {
        background: transparent;
      }
    }

    .inset-text {
      color: rgba(88, 88, 88, 0.85);
      text-shadow: 0px 1px 1px #e2e2e2, 0px 0px 1px #e2e2e2;
    }

    ::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
    ::selection { background: #5af; color: #fff; text-shadow: none; }
  }

  div.footer-spacer {
    height: $footer-height;
  }
}
