// https://coolors.co/fe938c-e6b89c-ead2ac-9cafb7-4281a4

// Variables

$red: #FE938C;
$yellow: #EAD2AC;
$orange: #E6B89C;
$grey: #9CAFB7;
$blue: #4281A4;
$white: #fff;

$footer-height: 160px;

$background: $blue;
$foreground: $white;

$foreground-light: $grey;

$loading-color: $foreground-light;

p {
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: $white;
}

header {
  position: relative;
  background: #4281A4;
  box-shadow: 0px 5px 5px rgba(136, 136, 136, 0.47);

  h1 {
    color: $white;
    text-align: center;
    font-family: 'Arimo', sans-serif;
  }

  .search-input input {
    font-size: 36px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
  }
}

main.content {
   .search-results {
     text-align: center;

      .more-button {
        margin: 20px 0 30px 0;
      }
   }
}

div.pure-button {
  margin: 10px;
  width: calc(100% - 20px);
  background: $grey;
  border-radius: 3px;

  img {
    display: block;
    margin: auto;
  }

  button {
    float: right;
  }
}


div.footer-spacer {
  height: $footer-height;
}


footer.now-playing {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: $footer-height;
  width: 100%;
  background: $background;
  text-align: center;

  .play-button {
    position: fixed;
    margin: auto;
    width: 100%;
    bottom: 0px;
    margin-bottom: 10px;
  }

  .station-name {
    margin: 15px 0;
    font-size: large;
  }

  .song-title {
    font-size: medium;
  }

  p {
    color: $white;
    margin: auto;
    width: 100%;
    display: block;
  }
}

@import 'loading-symbol';
@import 'play-button';
