// https://coolors.co/fe938c-e6b89c-ead2ac-9cafb7-4281a4

// Variables

$red: #FE938C;
$yellow: #EAD2AC;
$orange: #E6B89C;
$grey: #9CAFB7;
$blue: #4281A4;
$white: #fff;

$footer-height: 150px;

$background: $blue;
$foreground: $white;

$foreground-light: $grey;

$loading-color: $foreground-light;

p {
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: $white;
}


@import 'header';
@import 'main';
@import 'footer';
@import 'loading-symbol';
@import 'play-button';
